/* line 5, ../scss/SantaPerpetuaTheme.scss */
html {
  background: none repeat scroll 0 0 #fff;
  font-size: 100%;
}

/* line 9, ../scss/SantaPerpetuaTheme.scss */
body {
  background: #fff;
  font-family: 'Cabin', sans-serif;
  color: #555555;
  line-height: 20px;
}

/* line 15, ../scss/SantaPerpetuaTheme.scss */
a {
  text-decoration: none;
}

/* line 18, ../scss/SantaPerpetuaTheme.scss */
a:hover {
  color: black;
  text-decoration: underline;
}

/* line 22, ../scss/SantaPerpetuaTheme.scss */
.tileFooter > a, #peu a {
  color: #000000;
}

/* line 25, ../scss/SantaPerpetuaTheme.scss */
h2 a, h3 a {
  color: black;
}

/* line 31, ../scss/SantaPerpetuaTheme.scss */
#portal-header {
  border-top: none;
  border-bottom: none;
  background: #e7e4e3;
}

/* line 36, ../scss/SantaPerpetuaTheme.scss */
#portal-header .container {
  border-bottom: 0 none;
  border-top: 0 none;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 43, ../scss/SantaPerpetuaTheme.scss */
.header-image {
  background-image: url("/++vilaix++static/images/capcalera.jpg");
  margin-top: 10px !important;
  background-repeat: no-repeat;
}

/* line 51, ../scss/SantaPerpetuaTheme.scss */
.navbar-inner {
  border: none;
}

/* line 55, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav {
  margin-top: 10px;
}

/* line 59, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .nav > li > a {
  color: white;
  background-color: #4B4B4D;
  font-weight: normal;
  border-right: none;
  margin-right: 5px;
}

/* line 67, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar-inner {
  padding: 0;
  border-bottom: none;
}

/* line 72, ../scss/SantaPerpetuaTheme.scss */
.navbar-inner {
  min-height: 36px;
  background-color: #e7e4e3;
  background-image: none !important;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 80, ../scss/SantaPerpetuaTheme.scss */
.nav > li {
  padding-top: 3px;
}

/* line 84, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .state-published, #portal-globalnav #workflow-transition-publish {
  border-bottom: none;
}

/* line 88, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .state-draft, #portal-globalnav #workflow-transition-reject, #portal-globalnav #workflow-transition-retiraaesborrany, #portal-globalnav #workflow-transition-show, #portal-globalnav .state-visible {
  border-bottom: none;
}

/* line 92, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .state-private, #portal-globalnav #workflow-transition-hide {
  border-bottom: none;
}

/* line 96, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.75);
}

/* line 102, ../scss/SantaPerpetuaTheme.scss */
.portlet {
  margin-bottom: 20px;
  border: 0;
  background: white;
}

/* line 108, ../scss/SantaPerpetuaTheme.scss */
.portlet h2 {
  margin: 0;
  font-size: 16px;
  color: white;
  padding: 10px 15px;
  line-height: 18px;
  position: relative;
  border-bottom-width: 0px;
  text-transform: uppercase;
}

/* line 118, ../scss/SantaPerpetuaTheme.scss */
.portlet h2 a, .portlet a {
  color: black;
}

/* line 121, ../scss/SantaPerpetuaTheme.scss */
.portlet-noticia-destacada > h2 {
  margin-bottom: 15px;
}

/* line 124, ../scss/SantaPerpetuaTheme.scss */
.list-portlet {
  background: white;
  margin: 0;
  padding: 0 0 0 0;
  content: none !important;
  border-bottom: none;
}

/* line 132, ../scss/SantaPerpetuaTheme.scss */
.list-portlet .noticies {
  height: auto;
  padding: 8px 0 8px 0px !important;
  margin-right: 0px;
  list-style: none !important;
  content: "" !important;
}

/* line 139, ../scss/SantaPerpetuaTheme.scss */
.list-portlet .noticies .imatge {
  float: left;
  width: 132px;
  height: 80px;
  padding: 2px;
}

/* line 146, ../scss/SantaPerpetuaTheme.scss */
.noticies h2 {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: white;
  padding: 0px 0px;
  position: relative;
  border-bottom-width: 0px;
  background: none;
}

/* line 157, ../scss/SantaPerpetuaTheme.scss */
.noticies p {
  margin: 0 0 0px;
}

/* line 161, ../scss/SantaPerpetuaTheme.scss */
.list-portlet li::before {
  content: none;
  position: absolute;
  font-size: 52px;
  margin-left: -20px;
  margin-top: -15px;
  color: #0EA8FF;
}

/* line 170, ../scss/SantaPerpetuaTheme.scss */
.portlet .portlet-footer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0 0 2px;
  text-align: right;
}

/* line 179, ../scss/SantaPerpetuaTheme.scss */
.portlet-footer .icon-plus-sign {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.8;
  position: relative;
  left: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

/* line 188, ../scss/SantaPerpetuaTheme.scss */
.button {
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 4px;
}

/* line 194, ../scss/SantaPerpetuaTheme.scss */
.portlet.portlet-noticia-destacada {
  padding: 0;
  min-height: 145px;
}

/* line 198, ../scss/SantaPerpetuaTheme.scss */
.portlet.portlet-noticia-destacada h2 {
  margin-bottom: 15px;
}

/* line 201, ../scss/SantaPerpetuaTheme.scss */
.imatge_Destacada, .text_Destacat {
  margin: 0!important;
}

/* line 204, ../scss/SantaPerpetuaTheme.scss */
.text_Destacat {
  margin-left: 10px!important;
}

/* line 207, ../scss/SantaPerpetuaTheme.scss */
.noticia_Destacada {
  background: none;
}

/* line 210, ../scss/SantaPerpetuaTheme.scss */
.link_footer_destacat {
  margin-left: 10px !important;
  margin-bottom: 0!important;
  margin-top: 10px;
}

/* line 215, ../scss/SantaPerpetuaTheme.scss */
.portlet_mes_consultat .list-portlet li {
  border-top: 1px solid #E5E5E5;
  margin-left: 0 !important;
  padding: 8px 5px 8px 5px !important;
  margin-right: 10px;
}

/* line 222, ../scss/SantaPerpetuaTheme.scss */
.mes_consultat {
  background: #F2F2F2;
  margin-right: 0px !important;
  padding-right: 0px !important;
  border-top: 3px solid white !important;
}

/* line 229, ../scss/SantaPerpetuaTheme.scss */
.mes_consultat a {
  color: black !important;
}

/* line 233, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments ul {
  border-bottom: none;
}

/* line 237, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments ul a {
  color: black;
  display: block;
  padding-left: 70px;
  border-left: 3px solid #F2F2F2;
  font-weight: bold;
  min-height: 0 !important;
}

/* line 246, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments .multidate-before {
  padding-left: 73px;
}

/* line 250, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments .multidate {
  font-size: 107%;
}

/* line 254, ../scss/SantaPerpetuaTheme.scss */
.text_esdeveniment {
  padding-left: 73px;
  font-size: 90%;
}

/* line 259, ../scss/SantaPerpetuaTheme.scss */
.menu_peu {
  border: 2px solid white;
  padding: 10px 10px;
}

/* line 264, ../scss/SantaPerpetuaTheme.scss */
.menu_peu ul {
  list-style: none;
  margin-left: 0px;
}

/* line 270, ../scss/SantaPerpetuaTheme.scss */
.menu_peu h4 {
  background: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 276, ../scss/SantaPerpetuaTheme.scss */
.menu_peu li a {
  color: black;
  margin-left: 10px;
}

/* line 281, ../scss/SantaPerpetuaTheme.scss */
.menu_peu_links ul li {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

/* line 286, ../scss/SantaPerpetuaTheme.scss */
.menu_peu h4 a {
  color: white;
  margin-left: 10px;
}

/* line 291, ../scss/SantaPerpetuaTheme.scss */
#baners ul {
  list-style: none;
  margin-left: 0px;
}

/* line 296, ../scss/SantaPerpetuaTheme.scss */
#baners ul li {
  margin-bottom: 8px;
}

/* line 302, ../scss/SantaPerpetuaTheme.scss */
#portal-header {
  background: none repeat scroll 0 0 white;
  border-bottom: medium none;
  border-top: 2px solid #0073B8;
  margin: 0 auto;
}

/* line 308, ../scss/SantaPerpetuaTheme.scss */
.link_footer_destacat {
  margin-left: 0 !important;
}

/* line 309, ../scss/SantaPerpetuaTheme.scss */
.header-image {
  background-image: url("/++vilaix++static/images/capcalera.jpg");
  background-repeat: no-repeat;
  border-radius: 0 0 0 0;
  box-shadow: none;
  margin-top: 10px !important;
  height: 185px;
}

/* line 317, ../scss/SantaPerpetuaTheme.scss */
.portlet {
  background: none repeat scroll 0 0 white;
  border: 0;
  border-radius: 0 0 0 0;
  box-shadow: none;
  margin-bottom: 15px;
}

/* line 324, ../scss/SantaPerpetuaTheme.scss */
.portlet h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 3px solid #650065;
  color: #650065;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 6px 15px 7px 0;
  position: relative;
  text-transform: uppercase;
}

/* line 336, ../scss/SantaPerpetuaTheme.scss */
.noticies h2 {
  background: none repeat scroll 0 0 transparent;
  border-bottom-width: 0;
  color: white;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 346, ../scss/SantaPerpetuaTheme.scss */
.portlet h3 a {
  color: black;
}

/* line 349, ../scss/SantaPerpetuaTheme.scss */
b, strong {
  font-weight: 600;
}

/* line 352, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .nav > li > a {
  background-color: transparent;
  border-right: medium none;
  color: white!important;
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-shadow: 1px 1px 0 black;
  text-transform: uppercase;
}

/* line 365, ../scss/SantaPerpetuaTheme.scss */
.button {
  background: none repeat scroll 0 0 #650065;
  font-size: 11px;
  padding: 2px 0 3px 8px;
}

/* line 370, ../scss/SantaPerpetuaTheme.scss */
.portlet-footer {
  background: none repeat scroll 0 0 #000000;
  border-radius: 0;
  border-top: 0 none;
  display: block;
  font-size: 92.3077%;
  padding: 5px 10px 7px;
  position: relative;
  text-align: center;
}

/* line 380, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar .nav > li > a:focus, #portal-globalnav .navbar .contentViews > li > a:focus, #portal-globalnav .navbar .configlets > li > a:focus, #portal-globalnav .navbar .formTabs > li > a:focus, #portal-globalnav .navbar .nav > li > a:hover, #portal-globalnav .navbar .contentViews > li > a:hover, #portal-globalnav .navbar .configlets > li > a:hover, #portal-globalnav .navbar .formTabs > li > a:hover {
  box-shadow: 0 20px 20px -20px rgba(255, 255, 255, 0.4) inset;
}

/* line 383, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content .span9 {
  margin-left: 1.6%;
}

/* line 386, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content .span4 {
  margin-left: 2.2%;
  width: 32.15%;
}

/* line 390, ../scss/SantaPerpetuaTheme.scss */
#content-area {
  margin-top: 0.8em;
  padding-bottom: 2em;
}

/* line 400, ../scss/SantaPerpetuaTheme.scss */
.text_Destacat h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 0;
}

/* line 409, ../scss/SantaPerpetuaTheme.scss */
.portletCalendar .ploneCalendar td.event, .portletCalendar .ploneCalendar td.todayevent {
  background: none repeat scroll 0 0 #F2F2F2;
  text-shadow: 0 -1px white;
}

/* line 413, ../scss/SantaPerpetuaTheme.scss */
.portletCalendar .ploneCalendar td.event a, .portletCalendar .ploneCalendar td.todayevent a {
  background: none repeat scroll 0 0 #DDDDDD;
  border-radius: 10px 10px 10px 10px;
  color: #444444;
  padding: 1px 5px;
}

/* line 419, ../scss/SantaPerpetuaTheme.scss */
.portletCalendar .ploneCalendar td:not(:empty) {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 50px 50px 50px 50px;
  text-shadow: 0 1px #FFFFFF;
}

/* line 424, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments ul a {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

/* line 429, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments li {
  margin-left: 0px!important;
}

/* line 433, ../scss/SantaPerpetuaTheme.scss */
#baners img:hover {
  opacity: 0.75;
  transition: 0.5s ease-out 0s;
}

/* line 434, ../scss/SantaPerpetuaTheme.scss */
#baners a:hover {
  text-decoration: none;
}

/* line 435, ../scss/SantaPerpetuaTheme.scss */
#content-area, #portal-column-content {
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  transition: box-shadow 0.5s ease-out 0s;
}

/* line 446, ../scss/SantaPerpetuaTheme.scss */
.span12 #baners li {
  display: inline;
}

/* line 449, ../scss/SantaPerpetuaTheme.scss */
.span12 #baners li:hover {
  text-decoration: none;
}

/* line 452, ../scss/SantaPerpetuaTheme.scss */
.span12 #baners li img, .carousel img {
  box-shadow: 2px 2px 2px #777777;
  margin-right: 55px;
  margin-top: 10px;
}

/* line 457, ../scss/SantaPerpetuaTheme.scss */
.span12 #baners li:last-child img {
  margin-right: 0;
}

/* line 460, ../scss/SantaPerpetuaTheme.scss */
.navbar-inner {
  background-color: transparent;
}

/* line 463, ../scss/SantaPerpetuaTheme.scss */
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
  border-radius: 0 0 0 0 !important;
  margin-top: 0;
}

/* line 467, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar-inner {
  background: none repeat scroll 0 0 #650065;
  border-bottom: medium none;
  padding: 0 0 0 28px;
}

/* line 473, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav {
  margin-top: 0;
}

/* line 476, ../scss/SantaPerpetuaTheme.scss */
#eines {
  font-size: 12px;
  margin-top: 10px;
}

/* line 481, ../scss/SantaPerpetuaTheme.scss */
#eines > li > a {
  color: #333;
}

/* line 484, ../scss/SantaPerpetuaTheme.scss */
.thumbnail, .thumb-img img, .photoAlbumEntry a {
  border: 0 none;
  border-radius: 0 0 0 0;
  display: block;
  line-height: 18px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: none;
}

/* line 493, ../scss/SantaPerpetuaTheme.scss */
#mySlider {
  box-shadow: none;
  margin: 0 0 15px;
  padding: 0;
}

/* line 498, ../scss/SantaPerpetuaTheme.scss */
#myCarousel .thumbnails {
  margin-bottom: 0;
}

/* line 501, ../scss/SantaPerpetuaTheme.scss */
.template-homepage #mySlider {
  margin: 0;
}

/* line 504, ../scss/SantaPerpetuaTheme.scss */
.carousel img {
  border: 0;
}

/* line 505, ../scss/SantaPerpetuaTheme.scss */
.carousel img:hover {
  cursor: pointer;
  border: 0;
  opacity: 0.8;
}

/* line 510, ../scss/SantaPerpetuaTheme.scss */
.carousel .active > img, .carousel .selected > img {
  border-radius: 0;
}

/* line 516, ../scss/SantaPerpetuaTheme.scss */
.carousel-inner {
  border-image: none;
  border-radius: 0 0 0 0;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  position: relative;
  box-shadow: none;
}

/* line 526, ../scss/SantaPerpetuaTheme.scss */
.menu_peu {
  background: none repeat scroll 0 0 #e7e7e7;
  border: 0 none;
  margin: 0 0 0 -2px !important;
  width: 99.8% !important;
}

/* line 532, ../scss/SantaPerpetuaTheme.scss */
#peu {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 0 none;
  font-size: 92.3077%;
}

/* line 537, ../scss/SantaPerpetuaTheme.scss */
#peu .container {
  border-top: 0 none;
  margin-top: 0;
}

/* line 541, ../scss/SantaPerpetuaTheme.scss */
.menu_peu li a {
  color: black;
  font-size: 12px;
  margin-left: 10px;
}

/* line 546, ../scss/SantaPerpetuaTheme.scss */
.menu_peu_links ul li {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  padding-top: 4px;
}

/* line 551, ../scss/SantaPerpetuaTheme.scss */
.portlet_mes_consultat {
  margin-bottom: 20px;
}

/* line 555, ../scss/SantaPerpetuaTheme.scss */
.portlet-static-social-links {
  background: none repeat scroll 0 0 white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-top: -5px;
  padding: 8px 8px 1px;
  text-align: center;
}

/* line 562, ../scss/SantaPerpetuaTheme.scss */
.portlet-static-social-links img {
  height: auto;
  margin-left: 6px;
  margin-right: 6px;
  width: 50px;
}

/* line 568, ../scss/SantaPerpetuaTheme.scss */
.portlet-static-social-links img:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out 0s;
}

/* line 569, ../scss/SantaPerpetuaTheme.scss */
.portlet-noticies {
  padding-bottom: 3px;
}

/* line 572, ../scss/SantaPerpetuaTheme.scss */
.portlet-noticies .icon-news {
  display: none;
}

/* line 574, ../scss/SantaPerpetuaTheme.scss */
.portlet-noticies .list-portlet li {
  border-top: 0;
}

/* line 576, ../scss/SantaPerpetuaTheme.scss */
.carousel {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: none;
  line-height: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  position: relative;
}

/* line 587, ../scss/SantaPerpetuaTheme.scss */
.carousel_normal .carousel-control {
  margin-top: 0;
  opacity: 0.2;
  top: 30%;
}

/* line 592, ../scss/SantaPerpetuaTheme.scss */
.dropdown-menu {
  background: none repeat scroll 0 0 #000000;
  border-radius: 0;
  color: #FFFFFF;
}

/* line 597, ../scss/SantaPerpetuaTheme.scss */
.dropdown-menu a {
  clear: both;
  color: #FFFFFF;
  display: block;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}

/* line 606, ../scss/SantaPerpetuaTheme.scss */
.navbar .nav > li > .dropdown-menu:after, .navbar .contentViews > li > .dropdown-menu:after, .navbar .configlets > li > .dropdown-menu:after, .navbar .formTabs > li > .dropdown-menu:after {
  border-bottom: 6px solid #000000;
}

/* line 609, ../scss/SantaPerpetuaTheme.scss */
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-color: #444444;
  background-image: none;
}

/* line 613, ../scss/SantaPerpetuaTheme.scss */
.portletStaticText ul {
  font-size: 14px;
  list-style: disc outside none;
  margin-left: 15px;
}

/* line 618, ../scss/SantaPerpetuaTheme.scss */
.portletStaticText li {
  margin-top: 10px;
}

/* line 622, ../scss/SantaPerpetuaTheme.scss */
.carousel-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  opacity: 1;
  top: 45%;
  margin-top: 0;
  line-height: 30px;
}

/* line 629, ../scss/SantaPerpetuaTheme.scss */
.carousel-control:hover {
  background: white;
  opacity: 1;
}

/* line 633, ../scss/SantaPerpetuaTheme.scss */
.breadcrumb a {
  color: black;
}

/* line 637, ../scss/SantaPerpetuaTheme.scss */
.navbar .nav li.dropdown > .dropdown-toggle .caret, .navbar .contentViews li.dropdown > .dropdown-toggle .caret, .navbar .configlets li.dropdown > .dropdown-toggle .caret, .navbar .formTabs li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}

/* line 645, ../scss/SantaPerpetuaTheme.scss */
#portal-header h1 {
  float: left;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* line 651, ../scss/SantaPerpetuaTheme.scss */
.text_Destacat {
  float: left;
  width: 65%;
}

/* line 655, ../scss/SantaPerpetuaTheme.scss */
.imatge_Destacada {
  float: left;
  width: 30%;
}

/* line 660, ../scss/SantaPerpetuaTheme.scss */
#baners ul li {
  background: none repeat scroll 0 0 transparent;
}

/* line 663, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar .brand {
  color: #FFFFFF;
  text-shadow: none;
}

/* line 667, ../scss/SantaPerpetuaTheme.scss */
input, button, select, textarea {
  font-family: 'Open Sans',sans-serif;
}

/* line 671, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a:hover, .subnavbar .nav-list .selected ul a:hover {
  background-color: #f5f5f5 !important;
}

/* line 674, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active a, .subnavbar .nav-list .selected a {
  background: none repeat scroll 0 0 #d4d4d4;
  color: #000;
}

/* line 678, ../scss/SantaPerpetuaTheme.scss */
li h4 a {
  color: black;
}

/* NOVA NAVEGACIO PAGINA PRINCIPAL */
/* line 683, ../scss/SantaPerpetuaTheme.scss */
.accordion {
  margin-bottom: 18px;
  background: none repeat scroll 0 0 white;
  border: 8px solid white;
  border-radius: 0 0 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 18px;
}

/* line 695, ../scss/SantaPerpetuaTheme.scss */
.accordion-toggle {
  font-size: 14px;
  background-color: #0073B8;
  background-image: none;
  background-repeat: repeat-x;
  border-top: 0 none !important;
  color: white;
  display: block;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 2px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 8px 8px 8px 9px !important;
  position: relative;
  text-shadow: none !important;
}

/* line 713, ../scss/SantaPerpetuaTheme.scss */
.accordion-heading a:hover {
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#dadada', GradientType=0);
  color: #222222;
}

/* line 725, ../scss/SantaPerpetuaTheme.scss */
.accordion-group {
  margin-bottom: 2px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fcfcfc;
}

/* line 736, ../scss/SantaPerpetuaTheme.scss */
.accordion-heading a:hover:after,
.accordion-heading .active a:after,
.accordion-heading .selected a:after {
  content: "";
  position: absolute;
  background-color: #007bc0;
  margin-left: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  right: 7px;
  top: 8px;
  background-image: url("/++genweb++static/images/gh-w.png?1370877920");
  background-position: -455px -71px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
}

/* line 758, ../scss/SantaPerpetuaTheme.scss */
.accordion-body {
  margin-left: 0;
  margin-right: 0x;
  border-top: none;
  background: white;
  list-style: none;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.25);
  overflow: visible;
}

/* line 769, ../scss/SantaPerpetuaTheme.scss */
#accordionLogin {
  margin-top: 20px;
  min-height: 280px;
  padding: 20px;
}

/* line 774, ../scss/SantaPerpetuaTheme.scss */
#accordionLogin .accordion-body {
  box-shadow: none;
}

/* line 777, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul, .subnavbar .nav-list .selected ul {
  border-top: 0 none;
}

/* line 780, ../scss/SantaPerpetuaTheme.scss */
#accordionLogin .accordion-inner {
  border-top: 0;
  margin-top: 25px;
}

/* line 784, ../scss/SantaPerpetuaTheme.scss */
#accordionLogin .accordion-group {
  background: transparent;
}

/* line 787, ../scss/SantaPerpetuaTheme.scss */
.accordion-inner {
  border-top: 1px solid #DEDEDE;
  padding: 0;
}

/* line 791, ../scss/SantaPerpetuaTheme.scss */
h1 {
  color: #650065;
}

/* line 794, ../scss/SantaPerpetuaTheme.scss */
h2, h3 {
  color: #000000;
  margin-top: 27px;
}

/* line 798, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

/* line 805, ../scss/SantaPerpetuaTheme.scss */
#portal-column-one {
  margin-right: 20px;
}

/* line 808, ../scss/SantaPerpetuaTheme.scss */
.template-homepage #portal-column-content {
  background: transparent;
  box-shadow: none;
  margin-top: 0;
  padding: 5px 0 0;
  margin-left: 0!important;
}

/* line 815, ../scss/SantaPerpetuaTheme.scss */
.template-homepage .portlet {
  margin-bottom: 0;
}

/* line 819, ../scss/SantaPerpetuaTheme.scss */
#viewlet-below-content-title {
  color: #888888;
  font-size: 11px;
  margin-bottom: 15px;
}

/* line 824, ../scss/SantaPerpetuaTheme.scss */
#portal-breadcrumbs {
  margin-top: 5px;
  font-size: 14px;
}

/* line 828, ../scss/SantaPerpetuaTheme.scss */
#portal-breadcrumbs h2 {
  padding-left: 0;
}

/* line 831, ../scss/SantaPerpetuaTheme.scss */
.documentDescription {
  font-size: 16px;
  color: #777;
  line-height: 22px;
  font-weight: normal;
  text-align: justify;
}

/* line 838, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
  top: 2px;
}

/* line 846, ../scss/SantaPerpetuaTheme.scss */
.carousel_mobile {
  display: block;
}

/* line 849, ../scss/SantaPerpetuaTheme.scss */
.list-portlet h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 5px;
  margin-top: 2px;
  text-transform: none;
}

/* line 857, ../scss/SantaPerpetuaTheme.scss */
.list-portlet li .smaller {
  color: #999999;
  font-size: 14px;
  white-space: nowrap;
}

/* line 862, ../scss/SantaPerpetuaTheme.scss */
.noticies .newsImage {
  float: left;
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  max-height: 150px;
  padding: 2px;
  width: 185px;
}

/* line 871, ../scss/SantaPerpetuaTheme.scss */
.imatge_noticia {
  float: left;
}

/* line 874, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content {
  margin-left: 0;
}

/* line 877, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments ul time {
  color: #000000;
}

/* line 880, ../scss/SantaPerpetuaTheme.scss */
.portlet-esdeveniments ul a {
  border-left: 0 none;
}

/* line 883, ../scss/SantaPerpetuaTheme.scss */
.userrole-anonymous #plone-document-byline {
  display: none;
}

/* line 884, ../scss/SantaPerpetuaTheme.scss */
dd {
  margin-bottom: 10px;
  margin-left: 0;
}

/* line 888, ../scss/SantaPerpetuaTheme.scss */
dt {
  font-size: 16px;
}

/* line 891, ../scss/SantaPerpetuaTheme.scss */
.list-portlet li {
  padding: 8px 0 !important;
}

/* line 894, ../scss/SantaPerpetuaTheme.scss */
.liniaDalt, .tileHeadline {
  border-top: 0;
  box-shadow: none;
}

/* line 898, ../scss/SantaPerpetuaTheme.scss */
.tileItem {
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 10px;
}

/* line 903, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-right: 0;
}

/* line 911, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  color: white;
  font-weight: 600;
}

/* line 915, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  font-size: 14px;
  background-color: #c8c8c8;
  background-image: none;
  background-repeat: repeat-x;
  border-top: 0 none !important;
  color: black;
  display: block;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 8px 8px 9px !important;
  position: relative;
  text-shadow: none !important;
  text-transform: uppercase;
}

/* line 933, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list li:first-child a {
  border-radius: 0 0 0 0;
  border-top: 0 none !important;
}

/* line 937, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list li:last-child a:only-child {
  border-radius: 0 0 0 0;
}

/* line 940, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a, .subnavbar .nav-list .selected ul a {
  background: #eeeeee!important;
  border-radius: 0 !important;
  border-right: 0;
  border-top: 0 none !important;
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  padding: 0 !important;
}

/* line 953, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
  color: #444;
}

/* line 957, ../scss/SantaPerpetuaTheme.scss */
.pad {
  padding: 10px 0 0;
}

/* line 960, ../scss/SantaPerpetuaTheme.scss */
.portlet > .pad {
  border-bottom: 0 none;
}

/* line 963, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul, .subnavbar .nav-list .selected ul {
  margin-left: 0!important;
  margin-right: 0;
  box-shadow: none;
}

/* line 968, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a:hover:after, .subnavbar .nav-list .active a:after, .subnavbar .nav-list .selected a:after {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

/* line 973, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after, .subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after, .subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after, .subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after {
  background-image: none;
  background-repeat: no-repeat;
}

/* line 977, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a span, .subnavbar .nav-list .selected ul a span {
  border-top: 0 none!important;
  text-transform: none;
  font-size: 13px;
  margin-right: 10px;
  margin-left: 0;
}

/* line 984, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a {
  font-size: 13px;
}

/* line 985, ../scss/SantaPerpetuaTheme.scss */
.navTreeLevel2 {
  background: #eee!important;
}

/* line 988, ../scss/SantaPerpetuaTheme.scss */
.navTreeLevel2 .navTreeFolderish {
  margin-left: 15px;
}

/* line 991, ../scss/SantaPerpetuaTheme.scss */
.navTreeLevel2 .navTreeFolderish span {
  margin-left: 5px;
  font-size: 13px!important;
}

/* line 995, ../scss/SantaPerpetuaTheme.scss */
.navTreeLevel2 li span {
  font-size: 13px !important;
  margin-left: 10px !important;
}

/* line 999, ../scss/SantaPerpetuaTheme.scss */
#rufous-sandbox {
  display: none;
}

/* line 1000, ../scss/SantaPerpetuaTheme.scss */
#portlet-navigation-tree {
  padding-left: 0;
}

/* line 1004, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a span:before, .subnavbar .nav-list .selected ul a span:before {
  content: none;
}

/* line 1007, ../scss/SantaPerpetuaTheme.scss */
#rufous-sandbox {
  display: none!important;
}

/* line 1008, ../scss/SantaPerpetuaTheme.scss */
.template-folder_full_view h1:first-child, .template-folder_full_view h2:first-child, .template-folder_full_view h3:first-child {
  margin-top: 25px;
}

/* line 1011, ../scss/SantaPerpetuaTheme.scss */
.table tr:first-child td, .listing tr:first-child td, .taulaRegistres tr:first-child td, .portaltype-packet .estudis table.minimal tr:first-child td {
  border-top: 5px solid #BBBBBB;
}

/* line 1014, ../scss/SantaPerpetuaTheme.scss */
.listing a {
  color: black;
}

/* line 1015, ../scss/SantaPerpetuaTheme.scss */
.template-folder_listing dt {
  padding-bottom: 10px;
}

/* line 1018, ../scss/SantaPerpetuaTheme.scss */
.template-folder_listing dd {
  border-bottom: 1px solid #B2B2B2;
  padding: 0px 10px 15px 0;
}

/* line 1022, ../scss/SantaPerpetuaTheme.scss */
.template-folder_listing .summary a {
  color: #333333;
}

/* line 1025, ../scss/SantaPerpetuaTheme.scss */
.photoAlbumEntry {
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
  max-height: 108px;
  overflow: hidden;
  position: relative;
}

/* line 1033, ../scss/SantaPerpetuaTheme.scss */
.photoAlbumEntry a img:hover {
  opacity: 0.8;
}

/* line 1036, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list .active ul a.active, .subnavbar .nav-list .selected ul a.active, .subnavbar .nav-list .active ul a.selected, .subnavbar .nav-list .selected ul a.selected {
  background-color: #F5F5F5 !important;
}

/* line 1039, ../scss/SantaPerpetuaTheme.scss */
.photoAlbumEntryTitle {
  background: none repeat scroll 0 0 #333333;
  color: #FFFFFF !important;
  opacity: 0.8;
  padding: 0 !important;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 157px;
}

/* line 1050, ../scss/SantaPerpetuaTheme.scss */
#equipament iframe {
  width: 100%;
  margin-top: 20px;
}

/* line 1054, ../scss/SantaPerpetuaTheme.scss */
#equipament img {
  margin-bottom: 20px;
}

/* line 1057, ../scss/SantaPerpetuaTheme.scss */
#equipament label.horizontal {
  font-size: 15px;
  margin-bottom: 15px;
  color: black;
  line-height: 30px;
}

/* line 1063, ../scss/SantaPerpetuaTheme.scss */
#equipament .columnes {
  column-count: 2;
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  background: none repeat scroll 0 0 #F5F5F5;
  margin-bottom: 20px;
  padding: 25px 20px 20px 30px;
}

/* line 1071, ../scss/SantaPerpetuaTheme.scss */
#equipament .columnes label.horizontal {
  line-height: 15px;
}

/* line 1074, ../scss/SantaPerpetuaTheme.scss */
#tramit .camptramit {
  background: none repeat scroll 0 0 #F5F5F5;
  margin-bottom: 20px;
  padding: 10px 20px;
}

/* line 1079, ../scss/SantaPerpetuaTheme.scss */
#tramit .camptramit label.horizontal {
  font-size: 15px;
  margin-bottom: 15px;
  color: black;
  line-height: 30px;
}

/* line 1085, ../scss/SantaPerpetuaTheme.scss */
#tramit .tramita {
  background: none repeat scroll 0 0 #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
  padding: 10px 20px;
}

/* line 1094, ../scss/SantaPerpetuaTheme.scss */
#tramit .tramita:hover {
  color: #ccc;
}

/* line 1097, ../scss/SantaPerpetuaTheme.scss */
.tramit_annex:before {
  background: url("/++genweb++static/images/gh-w.png?1370877920") no-repeat scroll -162px -163px #111111;
  border: 1px solid;
  border-right: 0px solid;
  content: " ";
  display: block;
  float: left;
  height: 25px;
  margin-top: 4px;
  opacity: 75;
  position: relative;
  width: 25px;
}

/* line 1110, ../scss/SantaPerpetuaTheme.scss */
.tramit_annex {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #777777;
  color: #000000;
  line-height: 36px;
  padding: 5px 10px 4px;
  vertical-align: middle;
}

/* line 1118, ../scss/SantaPerpetuaTheme.scss */
.tramit_annex:hover {
  text-decoration: none;
  background: none repeat scroll 0 0 #eee;
}

/* line 1122, ../scss/SantaPerpetuaTheme.scss */
[class^="icon-"], #category.documentByLine:before, .tileFooter:before, [class*=" icon-"] {
  width: 20px;
}

/* line 1125, ../scss/SantaPerpetuaTheme.scss */
.icon-carrousel {
  background-position: -335px -72px;
}

/* line 1128, ../scss/SantaPerpetuaTheme.scss */
.icon-banner, .contenttype-bannercontainer:before {
  background-position: -191px -192px !important;
}

/* line 1131, ../scss/SantaPerpetuaTheme.scss */
.icon-bannercontainer {
  background-position: -432px -143px;
}

/* line 1134, ../scss/SantaPerpetuaTheme.scss */
.icon-equipament, .contenttype-equipament:before {
  background-position: -145px -193px;
}

/* line 1137, ../scss/SantaPerpetuaTheme.scss */
.icon-tramit, .contenttype-tramit:before {
  background-position: -145px -72px;
}

/* line 1140, ../scss/SantaPerpetuaTheme.scss */
.icon-slider {
  background-position: -360px -72px;
}

/* line 1143, ../scss/SantaPerpetuaTheme.scss */
.icon-collection {
  background-position: -74px -192px;
}

/* line 1146, ../scss/SantaPerpetuaTheme.scss */
.icons-on .contenttype-collection {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* line 1149, ../scss/SantaPerpetuaTheme.scss */
.icons-on .contenttype-collection {
  padding-left: 11px !important;
}

/* line 1153, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav .navbar .nav > li {
  background: none;
}

/* line 1156, ../scss/SantaPerpetuaTheme.scss */
h3 img {
  padding-right: 4px;
}

/* line 1160, ../scss/SantaPerpetuaTheme.scss */
.liniaBaix, .documentFirstHeading {
  border-bottom: 3px solid #650065;
  font-size: 18px;
  color: #650065;
  box-shadow: none;
  margin: 0 10px 5px 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-top: 0;
  text-transform: uppercase;
}

/* line 1171, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  font-size: 13px;
  background-color: #D4D4D4;
  border-bottom: 1px solid #EEEEEE;
}

/* line 1176, ../scss/SantaPerpetuaTheme.scss */
#content-area, #portal-column-content {
  margin-top: 25px;
}

/* line 1179, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content.span9 {
  margin-top: 0;
}

/* line 1183, ../scss/SantaPerpetuaTheme.scss */
.portlet h3 a {
  color: black;
}

/* line 1187, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  font-size: 13px;
  color: black;
  font-weight: 600;
  line-height: 16px;
  text-shadow: none !important;
}

/* line 1195, ../scss/SantaPerpetuaTheme.scss */
body {
  font-family: 'Cabin', sans-serif;
  color: #555555;
  font-size: 13px;
}

/* line 1201, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a:hover:after, .subnavbar .nav-list .active a:after, .subnavbar .nav-list .selected a:after {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

/* line 1206, ../scss/SantaPerpetuaTheme.scss */
#parent-fieldname-text .row-fluid .span6 h3 {
  color: #650065;
}

/* line 1209, ../scss/SantaPerpetuaTheme.scss */
.template-subhome #content-area, #portal-column-content {
  margin-top: 12px;
}

/* line 1213, ../scss/SantaPerpetuaTheme.scss */
.template-subhome .carousel-control {
  border: 0 none;
  color: white;
  font-size: 40px;
  height: 35px;
  width: 35px;
}

/* line 1220, ../scss/SantaPerpetuaTheme.scss */
.template-subhome .carousel-control:hover {
  color: black;
}

/* line 1223, ../scss/SantaPerpetuaTheme.scss */
.portletCalendar .ploneCalendar td.event a, .portletCalendar .ploneCalendar td.todayevent a {
  background: none repeat scroll 0 0 #dddddd;
  border-radius: 14px;
  color: #444444;
  line-height: 26px;
  padding: 1px 4px;
  width: 18px;
}

/* line 1231, ../scss/SantaPerpetuaTheme.scss */
.discreet {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  margin-top: 7px;
}

@media only screen
and (max-width : 640px) {
  /* line 1241, ../scss/SantaPerpetuaTheme.scss */
  #portal-globalnav .navbar-inner {
    padding: 0 0 0 5px;
  }

  /* line 1244, ../scss/SantaPerpetuaTheme.scss */
  .navbar .btn-navbar, .navbar .btn-navbar:active {
    background-color: #444444;
    background-image: none;
  }

  /* line 1248, ../scss/SantaPerpetuaTheme.scss */
  #portal-globalnav .nav-collapse .nav > li > a, #portal-globalnav .nav-collapse .contentViews > li > a, #portal-globalnav .nav-collapse .configlets > li > a, #portal-globalnav .nav-collapse .formTabs > li > a, #portal-globalnav .nav-collapse .dropdown-menu a, .nav-collapse-eines.nav-collapse .nav > li > a, .nav-collapse-eines.nav-collapse .contentViews > li > a, .nav-collapse-eines.nav-collapse .configlets > li > a, .nav-collapse-eines.nav-collapse .formTabs > li > a, .nav-collapse-eines.nav-collapse .dropdown-menu a {
    padding: 5px 15px 5px 5px;
  }

  /* line 1251, ../scss/SantaPerpetuaTheme.scss */
  #portal-globalnav .nav > li {
    border-bottom: 1px solid;
  }

  /* line 1254, ../scss/SantaPerpetuaTheme.scss */
  #content-area, #portal-column-content {
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1260, ../scss/SantaPerpetuaTheme.scss */
  #portal-breadcrumbs {
    margin-top: 10px;
  }

  /* line 1265, ../scss/SantaPerpetuaTheme.scss */
  .subnavbar {
    margin-bottom: 15px;
  }

  /* line 1269, ../scss/SantaPerpetuaTheme.scss */
  #baners ul {
    background: none repeat scroll 0 0 white;
    border: 8px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    list-style: none outside none;
    margin-left: 0;
  }

  /* line 1276, ../scss/SantaPerpetuaTheme.scss */
  #baners ul li:last-child {
    margin-bottom: 0;
  }

  /* line 1279, ../scss/SantaPerpetuaTheme.scss */
  #portal-column-content .span9, #portal-column-content .span4 {
    margin-left: 0;
  }

  /* line 1282, ../scss/SantaPerpetuaTheme.scss */
  [class*="span"], .cella {
    margin-bottom: 15px;
  }

  /* line 1285, ../scss/SantaPerpetuaTheme.scss */
  .imatge_Destacada {
    margin-bottom: 10px!important;
  }

  /* line 1286, ../scss/SantaPerpetuaTheme.scss */
  .text_Destacat {
    margin-left: 0 !important;
  }

  /* line 1287, ../scss/SantaPerpetuaTheme.scss */
  .text_Destacat {
    float: left;
    width: 100%;
  }

  /* line 1291, ../scss/SantaPerpetuaTheme.scss */
  .imatge_Destacada {
    float: left;
    width: 100%;
  }

  /* line 1295, ../scss/SantaPerpetuaTheme.scss */
  .link_footer_destacat {
    float: left;
    clear: both;
  }

  /* line 1299, ../scss/SantaPerpetuaTheme.scss */
  .imatge_Destacada img {
    width: 100%;
  }

  /* line 1302, ../scss/SantaPerpetuaTheme.scss */
  .header-image {
    background-size: auto;
    background-position: center center;
  }

  /* line 1306, ../scss/SantaPerpetuaTheme.scss */
  .portletCalendar .ploneCalendar {
    font-size: 100%;
  }

  /* line 1309, ../scss/SantaPerpetuaTheme.scss */
  .weekdays th {
    padding: 12px;
  }

  /* line 1312, ../scss/SantaPerpetuaTheme.scss */
  .carousel-inner {
    padding-left: 0;
  }

  /* line 1316, ../scss/SantaPerpetuaTheme.scss */
  .carousel img {
    width: 100%;
  }

  /* line 1319, ../scss/SantaPerpetuaTheme.scss */
  .carousel .item {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1323, ../scss/SantaPerpetuaTheme.scss */
  #portal-header .btn-navbar.pull-right, #portal-header .btn-navbar.newsImageContainer {
    margin-left: 85%;
    position: absolute;
  }

  /* line 1327, ../scss/SantaPerpetuaTheme.scss */
  #portal-header h1 {
    width: 260px;
    margin-bottom: -5px;
  }
}
/* line 1332, ../scss/SantaPerpetuaTheme.scss */
.event.today {
  background: none repeat scroll 0 0 #650065 !important;
  border: 0 none !important;
  border-radius: 0 !important;
  color: white;
  text-shadow: none;
}

/* line 1340, ../scss/SantaPerpetuaTheme.scss */
.carousel img {
  min-width: 100%;
}
